<h2 class="text-5xl text-center font-semibold my-5">Café Entrepreneur</h2>

<div class="flex h-full ">
  <div class="w-1/2 grid grid-cols-1">

    <div class="col-span-2">
      <app-white-section>
        <div class="flex justify-center">
          <p class="w-2/3 text-lg text-justify place-self-center">Chaque mois à Lyon <span class="text-gray-500">(et prochainement dans d’autres villes de
                                                                                    France)</span> nous organisons un
                                                                  évènement complètement
                                                                  gratuit pour permettre aux entrepreneurs de se
                                                                  rencontrer,
                                                                  de
                                                                  nouer des partenariats, de s’inspirer… En toute
                                                                  bienveillance.

                                                                  Tu souhaites participer au prochain ?
          </p>
        </div>
      </app-white-section>
    </div>


    <div class="flex flex-col mt-10 mb-24">
      <p class="w-2/3 text-lg text-justify place-self-center">Nous t’attendons le <span
        class="underline">{{date}}</span>
        <br>à
        <span class="underline">{{place}}</span>
        <br>

                                                              Pour prendre ta place:
      </p>
      <a
        class="rounded-full bg-[#122D4E] text-[#EEF7FF]  text-lg px-24 py-3 w-2/3 place-self-center text-center mt-2"
        href="{{link}}"
        target="_blank"
      >clique sur ce bouton
      </a>
      <p class="w-2/3 text-xs text-justify place-self-center font-extralight">
        (la
        réservation est
        obligatoire, les
        places sont limitées)
      </p>
    </div>

  </div>
  <div class=" bg-[#122D4E] w-1/2">
    <span class="text-gray-500">mettre des photos du café freelance voir lien suivant :<br> https://drive.google.com/drive/folders/1MZmns9DNTyC0M72dkY9O4ObzHlUKMYwr?usp=share_link</span>
  </div>
</div>
