<h2 class="text-5xl text-center font-semibold my-5">Étude de cas</h2>

<app-white-section>
  <div class="flex justify-center">
    <p class=" w-1/3 text-xl text-justify place-self-center ">Retrouvez des études de cas d’entrepreneurs qui sont
                                                              passés
                                                              exactement par ce que vous
                                                              êtes en train
                                                              de vivre
                                                              actuellement dans votre activité.</p>
  </div>
</app-white-section>

<div *ngIf="isLargeScreen">
  <div *ngFor="let group of videoGroups; let i = index">
    <div *ngIf="i % 2 !== 0">
      <app-white-section>
        <div class="grid grid-cols-2 justify-items-center">
          <div *ngFor="let video of group" class="col-span-1">
            <h4 class="text-xl font-semibold underline underline-offset-4 text-center mb-3">{{video.title}}</h4>
            <app-youtube-video-insert
              [id]="video.htmlId"
              [link]="video.link"
              [title]="video.title"
            ></app-youtube-video-insert>
          </div>
        </div>
      </app-white-section>
    </div>
    <div *ngIf="i % 2 === 0">
      <div class="grid grid-cols-2 justify-items-center mx-5 my-8">
        <div *ngFor="let video of group" class="col-span-1">
          <h4 class="text-xl font-semibold underline underline-offset-4 text-center mb-3">{{video.title}}</h4>
          <app-youtube-video-insert
            [id]="video.htmlId"
            [link]="video.link"
            [title]="video.title"
          ></app-youtube-video-insert>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLargeScreen">
  <div *ngFor="let videos of videoCaseStudy; let i = index">
    <div *ngIf="i % 2 !== 0">
      <app-white-section>
        <div class="grid grid-cols-1 justify-items-center">
          <div *ngFor="let video of videos" class="col-span-1">
            <h4 class="text-xl font-semibold underline underline-offset-4 text-center mb-3">{{video.title}}</h4>
            <app-youtube-video-insert
              [id]="video.htmlId"
              [link]="video.link"
              [title]="video.title"
            ></app-youtube-video-insert>
          </div>
        </div>
      </app-white-section>
    </div>
    <div *ngIf="i % 2 === 0">
      <div class="grid grid-cols-1 justify-items-center mx-5 my-8">
        <div *ngFor="let video of videos" class="col-span-1">
          <h4 class="text-xl font-semibold underline underline-offset-4 text-center mb-3">{{video.title}}</h4>
          <app-youtube-video-insert
            [id]="video.htmlId"
            [link]="video.link"
            [title]="video.title"
          ></app-youtube-video-insert>
        </div>
      </div>
    </div>
  </div>
</div>
