<h3 class="text-center text-5xl font-semibold my-5">Conférence Live</h3>

<app-white-section>
  <div class="flex justify-center">
    <p class="w-1/2 text-xl text-justify place-self-center">Une fois par mois, nous organisons gratuitement en live des
                                                            ateliers, conférences, etc…, L’objectif est de vous
                                                            apporter toujours plus de valeur. Parmi les sujets vous
                                                            retrouverez différentes thématiques pour accélérer le
                                                            développement de votre activité.
                                                            Pour découvrir la thématique et vous inscrire au prochain
                                                            live, vous avez juste à cliquer sur le bouton
                                                            ci-dessous.
    </p>
  </div>
</app-white-section>
<div class="flex justify-center">
  <a class="my-5 rounded-full bg-[#122D4E] text-[#EEF7FF] text-bold text-xl mt-10 px-24 py-3"
     href="{{link}}" target="_blank">Je découvre la prochaine thématique</a>
</div>

