<div class="flex justify-center items-center mb-5">

    <div *ngIf="showModal">
        <image-cropper
                (cropperReady)="cropperReady()"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (loadImageFailed)="loadImageFailed()"
                [aspectRatio]="4 / 4"
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                format="png"
        ></image-cropper>
    </div>

    <form [formGroup]="form"
          class="flex flex-col rounded-xl border-2 border-[#122D4E] mt-10 min-w-[50%]">
        <div class="flex flex-col border-b-2 border-[#122D4E] w-full">
            <div class="border-b border-[#122D4E] w-full p-5">
                <h3 class="text-center font-medium text-lg">Création d'un nouveau membre</h3>
            </div>

            <div class="flex flex-col p-5 gap-y-5 w-full">
                <div class="grid grid-rows-2 w-full justify-items-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="firstname">Prénom :</label>
                    <input class="rounded-xl min-w-full text-center border border-[#122D4E]" formControlName="firstname"
                           id="firstname" type="text">
                </div>
                <div class="grid grid-rows-2 w-full justify-items-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="lastname">Nom :</label>
                    <input class="rounded-xl min-w-full text-center border border-[#122D4E]" formControlName="lastname"
                           id="lastname" type="text">
                </div>
                <div class="grid grid-rows-2 w-full justify-items-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="pseudo">Pseudo :</label>
                    <input class="rounded-xl min-w-full text-center border border-[#122D4E]" formControlName="pseudo"
                           id="pseudo" type="text">
                </div>
                <div class="grid grid-rows-2 w-full justify-items-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="email">Email</label>
                    <input class="rounded-xl min-w-full text-center border border-[#122D4E]" formControlName="email"
                           id="email"
                           type="email">
                </div>
                <div class="grid grid-rows-2 w-full justify-items-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="jobId">Job :</label>
                    <select class="rounded-xl min-w-full text-center border border-[#122D4E]" formControlName="jobId"
                            id="jobId">
                        <option *ngFor="let job of jobs" [value]="job.id">{{job.name}}</option>
                    </select>
                </div>
                <div class="flex flex-col w-full justify-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="description">Description :</label>
                    <textarea class="rounded-xl min-w-full text-center border border-[#122D4E] min-h-[200px]"
                              formControlName="description" id="description"></textarea>
                </div>
                <div class="grid grid-rows-2 w-full justify-items-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="avatarFile">Avatar :</label>
                    <input (change)="fileChangeEvent($event)"
                           class="rounded-xl min-w-full text-center border border-[#122D4E]"
                           id="avatarFile" type="file">
                </div>

                <div class="grid grid-rows-2 w-full justify-items-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="isAdministrateur">Administrateur
                                                                                                        ? </label>
                    <input (change)="togglePasswordInput($event)"
                           class="rounded-xl min-w-full text-center border border-[#122D4E]" id="isAdministrateur"
                           type="checkbox">
                </div>
                <div *ngIf="isPasswordVisible" class="grid grid-rows-2 w-full justify-items-center">
                    <label class="mb-2 underline underline-offset-2 text-center" for="password">Mot de passe</label>
                    <input class="rounded-xl min-w-full text-center border border-[#122D4E]" formControlName="password"
                           id="password" type="password">
                </div>
            </div>
        </div>
        <div
                class="place-self-center bg-[#122D4F] text-[#EEF7FF] grid justify-items-center rounded-xl w-1/3 my-3"
        >
            <button (click)="submitForm()" class="px-5 py-2">Valider</button>
        </div>
    </form>
</div>
