<div [ngClass]="{'grid-cols-4':isLargeScreen, 'grid-rows-4':!isLargeScreen}"
     class="place-self-center grid grid-cols-4 gap-3">
  <a href="https://www.instagram.com/lementorat/"
  ><img
    alt="logo instagram"
    class="w-[60px] p-2.5"
    src="https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/img/reseau/instagram.webp"

  /></a>
  <a href="https://www.tiktok.com/@le.mentorat?is_from_webapp=1&sender_device=pc"
  ><img
    alt="logo tiktok"
    class="w-[60px] p-2.5"
    src="https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/img/reseau/tiktok.png"
  /></a>
  <a href="https://www.youtube.com/@lementorat"
  ><img
    alt="logo youtube"
    class="p-2.5 w-[60px]"
    src="https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/img/reseau/youtube.png"
  /></a>
  <a href="https://www.facebook.com/profile.php?id=100071599940370"
  ><img
    alt="logo facebook"
    class="w-[60px] p-2.5"
    src="https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/img/reseau/facebook.webp"
  /></a>
</div>
