<article class="text-justify" id="staff">
  <div class="pt-5 grid justify-items-center">
    <h2 class="font-bold underline text-3xl ">Nous.</h2>
    <!-- ----------------------Co-Founder section------------------------------- -->
    <div class="grid justify-items-center" id="co-founder">
      <h3 class="my-5  text-2xl font-semibold">Co-fondateur :</h3>
      <div [ngClass]="isLargeScreen ? 'grid-cols-' + cofounders.length : 'grid-rows-' + cofounders.length"
           class=" mb-8 grid justify-items-center w-2/3">
        <div *ngFor="let member of cofounders" class="grid justify-items-center">
          <h4
            class="text-center text-lg font-semibold my-3">{{member.firstname | uppercase | slice:0:1}}{{member.firstname | slice:1}}</h4>
          <div class="flex justify-center mb-3">
            <img
              [src]="'https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/avatar/'+member.job.name+ '/'+member.email+'/' + member.avatar"
              alt="{{member.pseudo}}"
              class="rounded-full"
              height="145px"
              width="145px">
          </div>
          <p class="px-16">{{member.description}}</p>
        </div>
      </div>
    </div>
    <!-- ----------------------Mentors section------------------------------- -->
    <div class="w-full">
      <app-white-section>
        <div class="grid justify-items-center" id="mentors">
          <h3 class=" text-2xl font-semibold">Coaches :</h3>
          <div [ngClass]="isLargeScreen ? 'grid-cols-' + mentors.length : 'grid-rows-' + mentors.length"
               class="grid grid-flow-col w-2/3">
            <div *ngFor="let member of mentors" class="grid justify-items-center">
              <h4
                class="text-center text-lg font-semibold my-3">{{member.firstname | uppercase | slice:0:1}}{{member.firstname | slice:1}}</h4>
              <div class="flex justify-center mb-3">
                <img
                  [src]="'https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/avatar/'+member.job.name+ '/'+member.email+'/' + member.avatar"
                  alt="{{member.pseudo}}"
                  class="rounded-full"
                  height="145px"
                  width="145px">
              </div>
              <p class="px-16">{{member.description}}</p>
            </div>
          </div>
        </div>
      </app-white-section>
    </div>
    <!-- ----------------------Administration section------------------------------- -->
    <div [ngClass]="isLargeScreen ? 'grid-cols-2' : 'grid-rows-2 w-2/3'" class="grid" id="administration">
      <!-- ----------------------Assistance section------------------------------- -->
      <div class="grid justify-items-center" id="assistance">
        <h3 class="my-5  text-2xl font-semibold">Assistante :</h3>
        <div [ngClass]="isLargeScreen ? 'grid-cols-' + assistants.length : 'grid-rows-' + assistants.length"
             class=" mb-8 grid grid-flow-col">
          <div *ngFor="let member of assistants" class="grid justify-items-center">
            <h4
              class="text-center text-lg font-semibold my-3">{{member.firstname | uppercase | slice:0:1}}{{member.firstname | slice:1}}</h4>
            <div class="flex justify-center mb-3">
              <img
                [src]="'https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/avatar/'+member.job.name+ '/'+member.email+'/' + member.avatar"
                alt="{{member.pseudo}}"
                class="rounded-full"
                height="145px"
                width="145px">
            </div>
            <p class="px-16">{{member.description}}</p>
          </div>
        </div>
      </div>
      <!-- ----------------------CM section------------------------------- -->
      <div class="grid justify-items-center" id="community-manager">
        <h3 class="my-5 text-2xl font-semibold">Community Manager :</h3>
        <div
          [ngClass]="isLargeScreen ? 'grid-cols-' + communityManagers.length : 'grid-rows-' + communityManagers.length"
          class=" mb-8 grid grid-flow-col">
          <div *ngFor="let member of communityManagers" class="grid justify-items-center">
            <h4
              class="text-center text-lg font-semibold my-3">{{member.firstname | uppercase | slice:0:1}}{{member.firstname | slice:1}}</h4>
            <div class="flex justify-center mb-3">
              <img
                [src]="'https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/avatar/'+member.job.name+ '/'+member.email+'/' + member.avatar"
                alt="{{member.pseudo}}"
                class="rounded-full"
                height="145px"
                width="145px">
            </div>
            <p class="px-16">{{member.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------------Closer section------------------------------- -->
    <div class="w-full">
      <app-white-section>
        <div class="grid justify-items-center" id="closers">
          <h3 class=" text-2xl font-semibold">Coaches :</h3>
          <div [ngClass]="isLargeScreen ? 'grid-cols-' + closers.length : 'grid-rows-' + closers.length"
               class="grid grid-flow-col w-2/3">
            <div *ngFor="let member of closers" class="grid justify-items-center">
              <h4
                class="text-center text-lg font-semibold my-3">{{member.firstname | uppercase | slice:0:1}}{{member.firstname | slice:1}}</h4>
              <div class="flex justify-center mb-3">
                <img
                  [src]="'https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/avatar/'+member.job.name+ '/'+member.email+'/' + member.avatar"
                  alt="{{member.pseudo}}"
                  class="rounded-full"
                  height="145px"
                  width="145px">
              </div>
              <p class="px-16">{{member.description}}</p>
            </div>
          </div>
        </div>
      </app-white-section>
    </div>
  </div>
</article>
