<div class="grid grid-rows-2 justify-items-stretch w-full gap-8">
  <div class="grid justify-items-stretch gap-5">
    <h2 class="text-center">Gestion Contenus</h2>
    <div class="grid grid-cols-3 justify-items-center">
      <section class="grid grid-rows-2">
        <h3>membre</h3>
        <div class="grid grid-rows-3">
          <a routerLink="/admin/member/create">ajouter un membre</a>
          <a routerLink="/admin/member/update">modifier un membre</a>
          <a routerLink="/admin/member/delete">retirer un membre</a>
        </div>
      </section>
      <div class="grid justify-items-center">
        <h3>blog</h3>
        <div class="grid grid-cols-2 gap-3">
          <section>
            <h4>Categorie</h4>
            <p>Ajout Catégorie</p>
            <p>Modification Categorie</p>
            <p>Supprimer Categorie</p>
          </section>
          <section>
            <h4>Article</h4>
            <p>Ajout article</p>
            <p>Modification Article</p>
            <p>Supprimer Article</p>
          </section>
        </div>
      </div>
      <div class="grid justify-items-center">
        <h3>Contenus Gratuits</h3>
        <div class="grid grid-cols-3 gap-3">
          <section>
            <h4>Étude de cas</h4>
            <p>ajouter une video</p>
            <p>supprimer une video</p>
          </section>
          <section>
            <h4>Conférence Live</h4>
            <p>Modifier le lien</p>
          </section>
          <section>
            <h4>Café entrepreneur</h4>
            <p>Modifier les informations</p>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="grid justify-items-center">
    <h2>Gestion du visuel</h2>
    <div class="grid grid-cols-4 justify-items-center">
      <section>
        <h3>Logo</h3>
        <p>Modification du logo principal</p>
        <p>Modification du logo d'onglet</p>
      </section>
      <section>
        <h3>Accueil</h3>
        <p>Modification Image</p>
        <p>Modification Video</p>
      </section>
      <section>
        <h3>Qui Sommes Nous ?</h3>
        <p>Modifier 'notre histoire'</p>
        <p>Modifier 'notre vision'</p>
      </section>
      <div>
        <h3>Notre Méthode</h3>
        <section>
          <h4>Pour Qui?</h4>
          <p>Modifier text</p>
          <p>Modifier 'conditions'</p>
        </section>
        <section>
          <h4>La Méthode</h4>
          <p>Modifier texte intro</p>
          <p>Modifier 'le séminaire'</p>
          <p>Modifier 'la communauté'</p>
          <p>Modifier texte piliers</p>
          <p>Modifier piliers</p>
        </section>
      </div>
    </div>
  </div>
</div>
