<h2 class="text-5xl text-center font-semibold my-5">Pour qui ?</h2>
<app-white-section>
  <div class="flex justify-center text-2xl">
    <p class="text-justify w-2/3 xl:w-1/3">pour les professionnels du conseil (coachs, infopreneurs, consultants…) et
                                           prestataires de
                                           services qui :</p>
  </div>
</app-white-section>

<div class="grid grid-cols-1 justify-items-center text-sm sm:text-xl gap-y-14 text-[#EEF7FF] my-5">
  <div *ngFor="let states of statesOfMind" class="w-3/4 sm:w-2/3">
    <div *ngIf="states.length > 1"
         class="grid grid-cols-2 justify-items-center mx-5 place-content-center gap-x-10 sm:gap-x-0">
      <div *ngFor="let state of states" class="bg-[#122D4E] p-3 rounded-xl text-center sm:w-3/4">
        <p>{{state}}</p>
      </div>
    </div>
    <div *ngIf="states.length === 1" class="bg-[#122D4E] p-3 rounded-xl text-center w-full">
      <p>{{states}}</p>
    </div>
  </div>
</div>
