.bg-img
{
  background-image    : url(https://api-le-mentorat-fabdab54a40e.herokuapp.com/res/img/index/seminaire.JPG);

  background-size     : cover;
  background-repeat   : no-repeat;
  background-position : center;
}

.bg-opacity
{
  background-color : rgba(255, 255, 255, 0.5);
}
