<article [ngClass]="{'bg-img rounded-xl': isLargeScreen}" class="m-6 " id="presentation">
  <div class="bg-opacity flex justify-center flex-col rounded-xl">
    <div
      class="text-justify me-5 grid grid-rows-2"
      id="text-presentation"
    >
      <p class="text-3xl lg:text-5xl font-semibold p-10">
        Vivre sereinement de son activité de
        coaching ou de prestation de
        service ?
      </p>
      <p class="text-center sm:text-end text-xl lg:text-3xl p-5">
        Un accompagnement personnalisé pour être soutenu dans le développement de son activité
      </p>
    </div>
    <div
      class="hover:text-orange-500 underline self-center justify-self-center"
      id="aboutUs"
    >
      <a routerLink="/about-us">Découvrir qui nous sommes.</a>
    </div>
  </div>
</article>
