<article class="m-6" id="story">
  <div class="pt-5">
    <h2 class="font-bold underline text-3xl text-center">Notre Histoire.</h2>
    <p class="my-5 pt-5 mx-80 text-center">Après avoir fondé une agence, un média sur Instagram, un logiciel et
                                           développé pas mal
                                           d'autres
                                           business. On
                                           s'est rendu compte d'une chose ! Ce qui nous passionnait vraiment, c'était
                                           le fait de
                                           développer un
                                           projet, de
                                           faire face aux problèmes, de transformer une simple idée en une véritable
                                           activité qui
                                           fonctionne
                                           (comme passer
                                           d'un rêve à la réalité)...
      <br>
                                           ... Et c'est ce qu'on a fait ! 🙂
      <br><br>
                                           C'est dans cette optique qu'on a fondé "Le Mentorat" pour permettre aux
                                           entrepreneurs qui
                                           ont
                                           de
                                           fortes
                                           compétences, de développer un projet à fort impact, qui leur ressemble et
                                           qui les inspire.
      <br><br>
                                           Ces dernières années, nous avons accompagné des milliers d'entrepreneurs
                                           dans tous les
                                           domaines
                                           à
                                           vivre de leur
                                           activité en leur permettant de délivrer leurs compétences de la meilleure
                                           des façons
                                           possible.
      <br><br>
                                           Désormais <span class="text-gray-500">-- parler des bureaux --</span>
    </p>
  </div>
</article>
