<article id="our-vision">
  <div>
    <h2 class="font-bold underline text-3xl text-center">Notre Vision.</h2>
    <p class="my-5 pt-5 mx-80 text-center">
      Nous œuvrons chaque jour pour créer un mouvement d’entrepreneurs qui ont la volonté de sortir des codes et de
      progresser pour avoir plus d’impact sur leur vie mais aussi sur celle des autres.
      <br>
      Un arbre seul ne résistera pas longtemps au vent, alors qu’un ensemble varié d’arbres vont grandir et se
      développer ensemble pour faire face au vent. C’est pourquoi nous mettons en avant l’importance d’entreprendre
      collectivement pour que chacun apporte sa graine aux autres, l’entraide et la bienveillance sont indispensables
      pour l'épanouissement et le développement d’un entrepreneur.
    </p>
  </div>
</article>
